{% trans_default_domain 'FOSUserBundle' %}

{% extends "UserBundle::noauthbase.html.twig" %}
{#sam content#}
{% block content %}
    <div class="alert alert-success alert-fixed">
                {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
                <br/>
                You can now <a href="{{ path('fos_user_security_login') }}">log in!</a>
                {% if targetUrl %}
                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                 {% endif %}
    </div>
{% endblock content %}
