<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            {% stylesheets 
                'css/bootstrap-theme.min.css' 
                'css/bootstrap.min.css' 
                'css/main.css' 
             filter='cssrewrite' %}

                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock stylesheets %}
    </head>
    <body>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}a
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div>
            <h3>LOGOWANIE:</h3>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    {% block javascripts %}
        {% javascripts 
            'js/bootstrap.min.js' 
            'js/jquery-1.11.3.min.js' 
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascripts %}
    </body>
</html>


{#override glownego layoutu fosuserbundle#}