.comment-level-1{
    min-height: 100px;
    border: 1px solid black;
    margin-bottom: 5px;
    background-color: #cccccc;
}
.comment-level-2{
    min-height: 50px;
    border: 1px solid green;
    background-color: #ccffcc;
    margin: 5px;
}