

.row-title{
    margin-left: 20px;
}
.row-desc{
    margin-left: 20px;
}
h3{
    margin-top: 10px;
}
.ideaActive{
    background-color: #DDFFD2;
}
.ideaInactive{
    background-color: #ffcccc;
}

/*style dobre*/
.left-border{
    border-left: 1px solid #08C;
}
.row-idea{
    margin-bottom: 5px;
    height: 110px;
    background-color: rgb(239, 245, 255);
}
.row-idea:hover{
    background-color: #DCE9FF;
    cursor: pointer;
}