body{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}
html, body{
    height: 100%;
}
.form-login{
    float: right;
    padding: 10px;
}
.main {
    max-width:1200px;
    width:100%;
    margin:0 auto 30px;
    padding: 0px 20px 20px 20px;
}
.header-login {
    position: fixed;
    width: 100%;
    height: 55px; 
    background-color: #010223;
    border-bottom: 1px solid white;
}
.header h3 {
    border-bottom:1px solid #eee;
    padding:10px 0px 20px 0px;
    margin:0px 0px 20px 0px;
}
.centered-register{
    width: 225px;
    height: 42px;
    background-color: blue;
    position:absolute; 
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.centered-register > a{
    padding: 10px 62px;
}
input.form-control  {
    max-width:300px;
}

.form-group div {
    max-width:300px;
}

input[type="checkbox"].bigCheckbox {
    margin:10px 0px;
}
.form-group label {
    max-width:200px;
}
.container-register{
    /*fix dla menu przylepionego*/
    padding-top: 55px;     
}
/*kontent + stopka - pozycjonowanie*/
.content-login {
    min-height: 100%;
    margin-bottom: -40px; 
    background: url(../images/2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.content:after {
    content: "";
    display: block;
}
footer, .content:after {
    height: 40px; 
}
footer {
    border-top: 1px solid white;
    background: #010223;
    color: white;
    text-align: center;
    font-size: 11px;
    padding-top: 15px;
}
.clearboth{
    clear: both;
}

/*nadpisanie wlasciwosci bootstrapa*/
.alert{
    border-radius: 0px;
}
.form-control{
    border-radius: 0px
}
.btn{
    border-radius: 0px;
}
/*logo*/
.logo{
    float: left;
    display: block;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    margin: 5px;
}
.logo-name{
    float: left;
    color: white;
    font-size: 20px;
    position: relative;
    top: 20%;
    left: 10px;
}
.logo-container{
    width: 160px;
    height: 100%;
    float: left;
    cursor: pointer;
}

/*form rejestracji*/
.fos_user_registration_register{
    margin: auto;
    width: 26%;
    padding: 10px;
    text-align: center;
}
.fos_user_registration_register > .form-group{
    margin-left: 0px;
    margin-right: 0px;
}
.form-container{
    margin: 50px;
    padding-top: 50px;
}

/*poprawki alertow*/
.alert-margin-top-50{
    margin-top: 50px;
}
.alert-fixed{
    position: relative;
    top: 55px;
    text-align: center;
}
.cursor{
    cursor: pointer;
}