body{
    background-color: #fff;
}
.main {
max-width:1200px;
width:100%;
margin:0 auto 30px;
padding:20px;
}
.header {
}
.header h3 {
    border-bottom:1px solid #eee;
    padding:10px 0px 20px 0px;
    margin:0px 0px 20px 0px;
}

input.form-control  {
max-width:300px;
}

.form-group div {
max-width:300px;
}

input[type="checkbox"].bigCheckbox {
margin:10px 0px;
}
.form-group label {
max-width:200px;
}


/* Main Navigation */

.searchBox {
    display: block;
    float: right;
    width: 220px;
}
.searchBox input {
    display: inline-block;
    vertical-align: top;
    width: 170px;
}
.searchBox button {
    float: right;
}
.searchBox input {
    margin: 0;
}
