.row{
    background-color: red;
    margin: 10px 0px 0px 0px;
    min-height: 100px;
    max-height: 150px;
    border: 1px solid rgb(227, 227, 227);

}
.col-md-1{
    text-align: center;
    padding: 5px;
}
.col-md-10{
    padding: 5px;
}
.row-title{
    margin-left: 20px;
}
.row-desc{
    margin-left: 20px;
}
h3{
    margin-top: 10px;
}
.ideaActive{
    background-color: #DDFFD2;
}
.ideaInactive{
    background-color: #ffcccc;
}